{{ template "theme/partials/header.html" . }}
{{ with .Params.coverimage }}
<div class="article-cover">
    <div>
        <img src="/images/{{ . }}" class="image">
    </div>
</div>
{{ end }}
<article>

    <div class="container">
        <header>
            <div class="meta">
                <time pubdate datetime="{{ .Date.Format "2006-01-02" }}" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>
            </div>
            <h1 class="title">{{ .Title }}</h1>
            {{ with .Description }}<h2 class="subtitle">{{ . }}</h2>{{ end }}
        </header>

        <section>
            {{ .Content }}
            {{ template "theme/partials/_social.html" . }}
        </section>



        {{ with .Site.Params.inc.disqus.shortname }}
        <section>
            {{ template "theme/partials/_disqus.html" . }}
        </section>
        {{ end }}
    </div>
</article>

{{ template "theme/partials/footer.html" . }}
